{% extends 'layout.html' %}

{% block body %}
    <div class="container">

        <h2> Edited Image(s): </h2>
        <h3> Best Song Match: {{title}} by {{artist}} </h3>
        <div class="gallery">

            {% for image in images%}
            <div class="image-block">
                <img class="uploaded-image" src={{image}} />
            </div>
            {% endfor %}
        </div>

        <form method=post action="/edited">
            <input type=submit value="Try Other Photos" class="submitbtn">
        </form>

    </div>
{% endblock %}
