{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1 style="font-family: Arial, Helvetica, sans-serif">Add Images</h1>

        <form method=post action="/song" enctype=multipart/form-data>
            <h3 style="font-family: Arial, Helvetica, sans-serif">Find Song</h3>
            <input type=text name="title" placeholder="Song Title" required>
            <input type=text name="artist" placeholder="Artist" required>

            <input type=submit value=Upload class="submitbtn">
        </form>

        <h2> Selected Image(s): </h2>
        {% for image in images %}
            <img src={{image}} />
        {% endfor %}

    </div>
    {% endblock %}
