{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Upload Images</h1>

        <form method=post action="/start" enctype=multipart/form-data>
            <input class="inputfile" id="files" type=file name=files[] multiple=multiple data-multiple-caption="{count} files selected" required>
            <label for="files" id="file-label">Choose File(s)</label>

            <input type=submit value=Upload class="submitbtn">
        </form>

    </div>
    {% endblock %}
